.navLink {
  color: #b7babd !important;
  margin-right: 15px;
}

.active {
  color: white !important;
}

.inputLabel {
  font-weight: 700;
}

#bodyDiv {
  margin: auto;
  margin-top: 70px;
}

.card {
  width: 18rem;
  margin: auto;
}

.card button {
  width: 100%;
  border: 0;
}

#adminLoginHeader {
  margin-left: 42%;
  font-size: 28px;
}
